@model ProyectoFinal.MVC5.ViewModels.FormaPagoViewModel

@{
    
    if (Session["UserId"] == "sanjuan")
    {
        Layout = "~/Views/Shared/_OtroLayout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Response.Redirect("~/Account/LoginPermission");
        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Response.Redirect("~/Account/LoginPermission");
        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }

    
    
    ViewBag.Title = "Delete";
}

<h2>Eliminar Forma de Pago</h2>

<h3 class="alert-danger">¿Esta seguro de eliminar esta Forma de Pago?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Eliminar"))
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
        </div>
    }
</div>
