@model ProyectoFinal.MVC5.ViewModels.FacturaViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Agregar Factura</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroFactura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroFactura, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.NumeroFactura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("UsuarioId")
                .DataTextField("NombreUsuario")
                .DataValueField("Id")
                .OptionLabel("Seleccione un Usuario")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerUsuario", "Factura");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                )




                @Html.ValidationMessageFor(model => model.UsuarioId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tercero", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("TerceroId")
                .DataTextField("NombreCompleto")
                .DataValueField("Id")
                .OptionLabel("Seleccione un Tercero")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerTercero", "Factura");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                )



                @Html.ValidationMessageFor(model => model.TerceroId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Guardar"))
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
