@model ProyectoFinal.MVC5.ViewModels.FacturaViewModel

@{
    
    if (Session["UserId"] == "sanjuan")
    {


        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_SanJuanVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_SanJuanAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_MendozaVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_MendozaAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    
    
    
    ViewBag.Title = "Edit";
}

<h2>Modificar Factura</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NumeroFactura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroFactura, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.NumeroFactura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha)
                @Html.ValidationMessageFor(model => model.Fecha)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Total, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Total)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UsuarioId", string.Empty)
                @Html.ValidationMessageFor(model => model.UsuarioId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Tercero", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TerceroId", string.Empty)
                @Html.ValidationMessageFor(model => model.TerceroId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Guardar"))
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
