@model IEnumerable<ProyectoFinal.MVC5.ViewModels.DetalleTransaccionViewModel>

@{
    
    if (Session["UserId"] == "sanjuan")
    {


        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_SanJuanVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_SanJuanAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_MendozaVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_MendozaAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    
    
    ViewBag.Title = "Index";
}

<h2>Detalles de Transacciones</h2>

<p>
    @Html.ActionLink("Agregar Detalle de Transaccion", "Create", null, new { @class = "k-button" })
</p>

@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.TransaccionDetalleTransaccion.Fecha).Title("Fecha");
          columns.Bound(p => p.ProductoDetalleTransaccion.Descripcion).Title("Producto");
          columns.Bound(p => p.Cantidad);
          columns.Bound(p => p.SubTotal);

          columns.Template(@<text>
            @Html.ActionLink(" ", "Edit", new { id = @item.Id }, new { style = "background: url('" + Url.Content("~/Images/note48.png") + "')no-repeat center right; display: inline-block; height: 18px;width:18px;" })
            ||
            @Html.ActionLink(" ", "Details", new { id = @item.Id }, new { style = "background: url('" + Url.Content("~/Images/details.png") + "')no-repeat center right; display:inline-block;  height: 18px; width:18px;" })
            ||
            @Html.ActionLink(" ", "Delete", new { id = @item.Id }, new { style = "background: url('" + Url.Content("~/Images/delete.png") + "')no-repeat center right; display:inline-block;  height: 18px;width:18px;" })
        </text>).Title("Acciones");
      })
      .Pageable()
      .Sortable()
      .Scrollable()
                      .Resizable(r => r.Columns(true))

                    .ColumnResizeHandleWidth(10)

)
