<link rel="stylesheet" type="text/css" href="~/Content/DataGrid.css">

@{
    if (Session["UserId"] == "sanjuan")
    {


        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_SanJuanVendedor1.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_SanJuanAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_MendozaVendedor1.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_MendozaAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
     var Producto = ViewBag.Lista;
    
}
<br />
<br />



<div class="datagrid" id="tabla" >
    <table class="datagrid" id="tablita">
        <tr>


            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th> Imagen</th>
            <th> Cantidad</th>
            <th> Subtotal</th>
            <th> Eliminar</th>
        </tr>
        @if (ViewBag.Lista != null)
        {

            foreach (var p in ViewBag.Lista)
            {
                <tr>

                    <td hidden>@p.producto.Id</td>
                    <td>@p.producto.Codigo</td>
                    <td>@p.producto.Descripcion</td>
                    <td>@p.producto.PrecioVenta</td>
                    <td><img src="@Url.Action("getImg", "Producto", new {id = @p.producto.Id })" alt="Person Image" width="80" height="80" /></td>
                    <td>@p.Cantidad</td>
                    <td>@p.SubTotal</td>
                    <td><input type='button' id='chk1' onclick="Elegir()" value="Eliminar" /></td>

                </tr>
            }
        }

    </table>
   
    
    
</div>
    <br />
    <br />

    <div >
    @Html.ActionLink("Regresar", "Busqueda", "Producto", null, new { @class = "boton", style="margin-bottom:20px; margin-left:40%;" })
    @Html.ActionLink("Realizar Venta", "Index", "Venta", null, new { @class = "boton" })
</div>


    <script type="text/javascript">
        $("#tablita tr").click(
        function Elegir() {

            $("#tablita tr").addClass('selected').siblings().removeClass('selected')

            var id = $(this).find('td:first').html()



            location.href = '/Cart/Delete?id=' + id


        })



    </script>

