
@{
 //   Layout = "~/Views/Shared/_TableLayout.cshtml";
    var Productos = ViewBag.Productos;
    var anio = DateTime.Now.Year;
    var mes = DateTime.Now.Month;
    var dia = DateTime.Now.Day;
    var hora = DateTime.Now.Hour;
    var minutos = DateTime.Now.Minute;
    var Fecha = dia + "/" + mes + "/" + anio + " " + hora + ":" + minutos;
    var usuario = Session["User"];
    var suma = 0.0;

    if (Session["UserId"] == "sanjuan")
    {


        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_SanJuanVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_SanJuanAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_MendozaVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_MendozaAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <br />
    
    <fieldset style="margin-left:2%">

        <div>

            <embed src="@Url.Content( "~/Images/animate.swf" )" type="application/x-shockwave-flash" width="728" height="90" style="margin-left:18%;margin-top:2%"></embed>

        </div>

        @using (Ajax.BeginForm("Venta", "Venta",
                            new AjaxOptions { UpdateTargetId = "divInterestDeatils" }))
        {
            <div id="divInterestDeatils"></div>
            <br />
            <br />
            <div class="form-group">
                @Html.Label("Clientes", htmlAttributes: new { @class = "control-label col-md-2", style = "width:80px", id = "cli" })
                <div class="col-md-10">
                    @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("Clientes")
                .DataTextField("NombreCompleto")
                .DataValueField("Id")
                .OptionLabel("Seleccione un Cliente")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerCliente", "Venta");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                    )




                    @Html.Label("Usuario  : ")

                    @Html.TextBox("nombreuser", usuario, new { disabled = "disabled" })

                    @Html.TextBox("fechahoy", Fecha, new { disabled = "disabled", style = "float:right" })
                    @Html.Label("Fecha  : ", new { style = "float:right;" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                @Html.Label("Pago", htmlAttributes: new { @class = "control-label col-md-2", style = "width:80px" })

                <div class="col-md-10">
                    @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("FormaPago")
                .DataTextField("Descripcion")
                .DataValueField("Id")
                 .OptionLabel("Seleccione una Forma de Pago")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerFormaPago", "Venta");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                    )
                </div>




            </div>
            <br />
            <br />

            <br />
            <br />
            <div class="datagrid" id="tabla" style="margin-left:25%;width:50%">
            <table>
                <tr>


                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th> Cantidad</th>
                    <th>Subtotal</th>


                </tr>
                @if (ViewBag.Productos != null)
                {

                    foreach (var p in ViewBag.Productos)
                    {
                        <tr>

                            <td hidden>@p.producto.Id</td>
                            <td>@p.producto.Codigo</td>
                            <td>@p.producto.Descripcion</td>
                            <td>@p.producto.PrecioVenta</td>
                            <td>@p.Cantidad</td>
                            <td>@p.SubTotal</td>
                            @{  suma = suma + p.SubTotal;
                              Productos = p;}
                        </tr>
                    }
                }
                <tfoot>
                    <tr>
                        <th colspan="4" style="text-align:right;">Total :</th>
                        <td id="total" name="total">@suma</td>
                    </tr>
                </tfoot>
            </table>
                </div>
            <input type="hidden" value=@suma name="total" />
            <input type="hidden" value=@usuario name="nombreuser" />
            <input type="hidden" value=@Fecha name="fechahoy" />
            <input type="hidden" value=@Productos name="detalle" />
            <br />
            <br />
    <div>
        @Html.ActionLink("REGRESAR", "Carrito", "Cart", null, new { @class = "boton", style = " margin-left:35%; " })
        <input type="submit" value="CONFIRMAR VENTA" class="boton" style="margin-left:0%; " />
    </div>

        }
</fieldset>
</body>
</html>
