<link rel="stylesheet" type="text/css" href="~/Content/TableStyle.css">
@{
    Layout = "~/Views/Shared/_TableLayout.cshtml";
    var Productos = ViewBag.Productos;
    var anio = DateTime.Now.Year;
    var mes = DateTime.Now.Month;
    var dia = DateTime.Now.Day;
    var hora = DateTime.Now.Hour;
    var minutos = DateTime.Now.Minute;
    var Fecha = dia + "/" + mes + "/" + anio + " " + hora + ":" + minutos;
    var usuario = Session["User"];
    var suma = 0.0;
    var clien = "";

        }

        <!DOCTYPE HTML>

        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Index</title>
        </head>
        <body>

            @using (Html.BeginForm("Venta", "Venta", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                <br />
                <br />
                <div class="form-group">
                    @Html.Label("Clientes", htmlAttributes: new { @class = "control-label col-md-2", style = "width:80px" ,id="cli"})
                    <div class="col-md-10">
                        @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("Clientes")
                .DataTextField("NombreCompleto")
                .DataValueField("Id")
                .OptionLabel("Seleccione un Cliente")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerCliente", "Venta");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                        )
                        @Html.DropDownList("cli", (IEnumerable<SelectListItem>)ViewBag.Clientes,new { @class = "dropdown" })

                        @{
                            
                                clien=Request["cli"];
                                }




                        @Html.Label("Usuario  : ")
                        @Html.TextBox("nombreuser", usuario, new { disabled = "disabled" } )

                        @Html.TextBox("fechahoy", Fecha, new { disabled = "disabled", style = "float:right", id="fecha" })
                        @Html.Label("Fecha  : ", new { style = "float:right;" })
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group">
                    @Html.Label("Pago", htmlAttributes: new { @class = "control-label col-md-2", style = "width:80px" })

                    <div class="col-md-10">
                        @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("FormaPago")
                .DataTextField("Descripcion")
                .DataValueField("Id")
                 .OptionLabel("Seleccione una Forma de Pago")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerFormaPago", "Venta");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                        )
                    </div>




                </div>
                <br />
                <br />

                <br />
                <br />
                <table id="tabla">
                    <tr>


                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th> Cantidad</th>
                        <th>Subtotal</th>


                    </tr>
                    @if (ViewBag.Productos != null)
                {

                    foreach (var p in ViewBag.Productos)
                    {
                        <tr>

                            <td hidden>@p.producto.Id</td>
                            <td>@p.producto.Codigo</td>
                            <td>@p.producto.Descripcion</td>
                            <td>@p.producto.PrecioVenta</td>
                            <td>@p.Cantidad</td>
                            <td>@p.SubTotal</td>
                            @{  suma = suma + p.SubTotal;}
                        </tr>
                    }
                }
                    <tfoot>
                        <tr>
                            <th colspan="4" style="text-align:right;">Total :</th>
                            <td id="total">@suma</td>
                        </tr>
                    </tfoot>
                </table>

                @Html.ActionLink("Vender","Venta", "Venta",
    routeValues: new
    {
        fecha = Fecha,
        usuario = usuario,
        total = suma,
        cli= 5


    },
    htmlAttributes: null
)
                <input type="submit" value="guardar" />

                <script type="text/javascript">
                    function onSelect(e) {

                        $('#Clientes').change(function () {

                            var value = this.value;
                            
                            alert(value);
                        });
                    };
                </script>


}
        </body>
    </html>
