@using ProyectoFinal.MVC5.ViewModels
@model IEnumerable<ProyectoFinal.MVC5.ViewModels.ProductoViewModel>
           

@{
    
    ViewBag.Title = "Index";
    
    
    
    Layout="~/Views/Shared/_TableLayout.cshtml";
}

<head>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content")/Js/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content")/Js/jquery-ui.min.js"></script>
    

    <script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#tabla img').css({
            'cursor': 'pointer',
            'z-index': 100
        }).draggable({ 'revert': true });


        function displayCart(data) {
            var s = '';
            var sum = 0;
            for (var i = 0; i < data.length; i++) {
                sum += parseInt(data[i].Cantidad) * parseFloat(data[i].producto.precioventa);
                $ += '<br> Id:' + data[i].producto.Id;
                $ += '<br> Nombre:' + data[i].producto.Cantidad;

            }

            $ += '<br> Total:' + sum;
            $('#cart').html(s);
        }

        $('#cart').droppable({
            drop: function (event, ui) {
                var productid = $(ui.draggable).siblings('.productId').val();
                $.ajax({
                    type: 'GET',
                    url: 'Cart/Buy' + productid,
                    success: function (data) {
                        displayCart(data);
                    }
                });
            }

        })

    });



    </script>

</head>

<h2>Seleccione Productos</h2>
@Html.ActionLink("Carrito", "Carrito", "Cart", null,new { @class = "carrito" })
<br /> 
<div id="form-busqueda" style="top:20px; left:0px; border:groove 4px black; height:320px;"  >
    @using (Html.BeginForm("Busqueda", "Producto", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        
    <div id="result" style="width:700px;float:right;bottom:20px; left:20px; border:ridge 5px blue;box-sizing: border-box;">

     @Html.Partial("../Cart/Lista", null)

    </div> 

    <div id="busque" style=" position: relative;float:left; width:400px; height: 300px; border:double 1px green">
        @Html.Label("Producto  : ")
        @Html.TextBox("descripcion")
        <br />
        <br />
        @Html.Label("Categoria  : ")
        @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.CategoriaId, new { @class = "dropdown" })
        <br />
        <br />
        @Html.Label("Proveedor  : ")
        @Html.DropDownList("TerceroId", (IEnumerable<SelectListItem>)ViewBag.TerceroId, new { @class = "dropdown" })
        <br />
        <br />
        @Html.Label("Marca  : ")
        @Html.DropDownList("MarcaId", (IEnumerable<SelectListItem>)ViewBag.MarcaId, new { @class = "dropdown" })

        <br />
        <br />
        <br />
        <input type="submit" id="sub" value="Filtrar">
        <br />
        <br />
        <br />
    </div>


    }

    
  
<script type="text/javascript">

    function Una(e) {
        
        e.preventDefault;
        
        var grid = $('#Grida').data('kendoGrid');
        var selectedRows = grid.select();
        var selected = $.map(selectedRows, function (item) {
            var checked = $(item).find('.check-box').attr('checked');
            return {
                id: $(item).find(':nth-child(1)').text(),
                descripcion: $(item).find(':nth-child(2)').text(),
                marca: $(item).find(':nth-child(3)').text(),
                stock: $(item).find(':nth-child(4)').text(),
                precio: $(item).find(':nth-child(5)').text(),
                imagen: $(item).find('img:nth-child(6)'),
                
               
            };
            
        });

        if (selected[0].stock == 1) {
            alert("Esta es la ultima que queda");
        }
      
        alert(selected[0].imagen);
        document.getElementById('miniatura').src = selected[0].imagen;
        document.getElementById('prueba').innerHTML = selected[0].marca;

        location.href = '/Producto/Lista?id='+ selected[0].id + "&marca=" + selected[0].marca + "&descripcion=" + selected[0].descripcion
            + "&stock=" + selected[0].stock + "&precio=" + selected[0].precio;
      // alert(selected[0].id);
      // alert(selected[0].descripcion);
      //  alert(selected[0].marca);
      //  alert(selected[0].stock);
      //  alert(selected[0].precio);
       
      
     
        
    }

    </script>
<br />
<br />
<br />
<br />
<br />

   




    <div id="tabla" style="position:relative; float:right; width:1110px; height: 500px; border:double 1px red">


        <table id="table" style="width:900px">
            <tr>
                <th>Sel</th>

                <th id="codigo">Codigo</th>
                <th>Marca</th>
                <th>Nombre</th>
                <th>Precio Venta</th>
                <th> Imagen</th>

            </tr>
            @foreach ( var p in ViewBag.Productos) {
    <tr>
        <td><input type='button' id='chk1'  value="Agregar"/></td>
        <td onclick="Prueba(e)" hidden>@p.Id</td>
        <td>@p.Codigo</td>
        <td>@p.MarcaProducto.Descripcion</td>
        <td>@p.Descripcion</td>
        <td>@p.PrecioVenta</td>
        <td><img src="@Url.Action("getImg", "Producto", new {id = @p.Id })"alt="Person Image" width="80" height="80" /></td>
    </tr>
    }

        </table>
        </div>






    
        <script type="text/javascript">
            $("#table tr").click(
            function () {
                
                $("#table tr").addClass('selected').siblings().removeClass('selected');

                var value = $(this).find('td:first').html();
                var id = $(this).find('td').next().html();
                
                var codigo = $(this).find('td').next().next().html();
                var marca = $(this).find('td').next().next().next().html();
                var nombre = $(this).find('td').next().next().next().next().html();
                var precioventa = $(this).find('td').next().next().next().next().next().html();

                var myObj = [value, id, codigo, marca, nombre, precioventa];

                //     alert(myObj[0]);




                location.href = '/Cart/Buy?id=' + id //+ "&marca=" + marca + "&codigo=" + codigo + "&descripcion=" + nombre
                //    + "&precio=" + precioventa ;



            });

           

        </script>

        <script type="text/javascript">
            $('input[type="checkbox"]').on('change', function () {
               $('input[name="' + this.name + '"]').not(this).prop('checked', false);
           });

        </script>

