@model IEnumerable<ProyectoFinal.MVC5.ViewModels.ProductoViewModel>

@{
    
    ViewBag.Title = "Index";
}

<h2>Seleccione Productos</h2>

<br />

@using (Html.BeginForm("Busqueda", "Producto", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.Label("Producto  : ")
    @Html.TextBox("descripcion");
    <br />
    <br />
    @Html.Label("Categoria  : ")
  @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.CategoriaId, new { @class = "dropdown" })
    <br />
    <br />
    @Html.Label("Proveedor  : ")
    @Html.DropDownList("TerceroId", (IEnumerable<SelectListItem>)ViewBag.TerceroId, new { @class = "dropdown" })
    <br />
    <br />
    @Html.Label("Marca  : ")
   @Html.DropDownList("MarcaId", (IEnumerable<SelectListItem>)ViewBag.MarcaId, new { @class = "dropdown" })

<br />
    <br />
    <br />
    <input type="submit" value="Filtrar">
<br />
<br />
<br />
}



    



@(Html.Kendo().Grid(Model)
      .Name("Grida")
      
      .Columns(columns =>
      {
          columns.Bound(p => p.Id).Hidden(true); ///Title("Seleccionar").Template(@<input type="checkbox" class="chk" onclick="javascript:uncheckShowYear(this);" />).Width("100px");

          columns.Bound(p => p.Descripcion).Title("Producto");

          columns.Bound(p => p.MarcaProducto.Descripcion).Title("Marca");

          columns.Bound(p => p.Stock);

          columns.Bound(p => p.PrecioVenta).Title("Precio");

          
         // columns.Command(command => command.Custom("Agregar").Click("Una");
      }).Filterable().Selectable()
      .Events(ev=> ev.Change("Una"))
      .DataSource(dataSource => dataSource
            .Server()
                          .Read(read => read.Action("Busqueda", "Producto"))
            .Model(model => model.Id(p => p.Id)
            )
        ).Pageable())

<br />
<br />
@using (Html.BeginForm("Lista", "Producto"))
{
<div>
   
       

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                
                <input type="submit" value="Agregar" name="Index" onclick="Una" />
            </div>
        </div>
</div>









<script type="text/javascript">

    function Una(e) {
        e.preventDefault;
        var grid = $('#Grida').data('kendoGrid');
        var selectedRows = grid.select();
        var selected = $.map(selectedRows, function (item) {
            var checked = $(item).find('.check-box').attr('checked');
            return {
                id: $(item).find(':nth-child(1)').text(),
                descripcion: $(item).find(':nth-child(2)').text(),
                marca: $(item).find(':nth-child(3)').text(),
                stock: $(item).find(':nth-child(4)').text(),
                precio: $(item).find(':nth-child(5)').text(),
                
               
            };
        });
        
        location.href = '/Producto/Lista?id='+ selected[0].id + "&marca=" + selected[0].marca + "&descripcion=" + selected[0].descripcion
            + "&stock=" + selected[0].stock + "&precio=" + selected[0].precio;
        alert(selected[0].id);
        alert(selected[0].descripcion);
        alert(selected[0].marca);
        alert(selected[0].stock);
        alert(selected[0].precio);

        if (selected[0].stock == 1) {
            alert("Esta es la ultima que queda");
        }
       @{
            
            
           
       }
        
    }

    </script>


}