<link rel="stylesheet" type="text/css" href="~/Content/TableStyle.css">
@using ProyectoFinal.MVC5.ViewModels

@model IEnumerable<ProyectoFinal.MVC5.ViewModels.ProductoViewModel>
           

@{
    
    ViewBag.Title = "Index";
    
    
    
    Layout="~/Views/Shared/_TableLayout.cshtml";
}

<head>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content")/Js/jquery-ui.js"></script>
    <script language="javascript" type="text/javascript" src="@Url.Content("~/Content")/Js/jquery-ui.min.js"></script>
    

    

</head>

<h3 style="text-align:center; background-color:#85a1b1; color:white; opacity:0.5">Seleccione Productos</h3>
@Html.ActionLink("Carrito", "Carrito", "Cart", null,new { @class = "carrito" })

<div id="form-busqueda" style="top:0px; left:0px;  height:320px; ">
    @using (Html.BeginForm("Busqueda", "Producto", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {<h2 style="text-align:center">Listado de Productos</h2>
   
        <div id="busque" style=" color:white; position: relative;float:left; width:250px; height: 300px; background-image: url(../../Images/fondobusqueda.jpg)">
            <br />
            <br />
            
            @Html.Label("Producto", null, new { style = "margin-left:10px;" })
            @Html.TextBox("descripcion", null,new { style = "width: 155px;" })
            <br />
            <br />
            @Html.Label("Categoria", null, new { style = "margin-left:10px;" })
            @Html.DropDownList("CategoriaId", (IEnumerable<SelectListItem>)ViewBag.CategoriaId, new { style = "width: 150px;" })
            <br />
            <br />
            @Html.Label("Proveedor", null, new { style = "margin-left:10px;" })
            @Html.DropDownList("TerceroId", (IEnumerable<SelectListItem>)ViewBag.TerceroId, new { style = "width: 140px;" })
            <br />
            <br />
            @Html.Label("Marca", null, new { style = "margin-left:10px;" })
            @Html.DropDownList("MarcaId", (IEnumerable<SelectListItem>)ViewBag.MarcaId, new { style = "width: 150px; margin-left:20px;" })

            <br />
            <br />
            <br />
            <input type="submit" id="sub" value="Filtrar" style="margin-left:100px">
           
        </div>


    }




    

    <div id="tabla" style="position:relative; float:right; top:0px; width:880px; height: 500px; ">
        

        <table id="table" style="width:880px">
            <tr onclick="nada">
                <th>Sel</th>

                <th id="codigo">Codigo</th>
                <th>Marca</th>
                <th>Nombre</th>
                <th>Precio Venta</th>
                <th>Talle</th>
                <th> Stock</th>
                <th> Imagen</th>

            </tr>
            @foreach (var p in ViewBag.Productos)
            {
                <tr>
                    <td><input type='button' id='chk1' value="Agregar" /></td>
                    <td onclick="Prueba(e)" hidden>@p.Id</td>
                    <td>@p.Codigo</td>
                    <td>@p.MarcaProducto.Descripcion</td>
                    <td>@p.Descripcion</td>
                    <td>@p.PrecioVenta</td>
                    <td>@p.Talle</td>
                    <td>@p.Stock</td>
                    <td><img src="@Url.Action("getImg", "Producto", new {id = @p.Id })" alt="Person Image" width="80" height="80" /></td>
                </tr>
            }

        </table>
    </div>
</div>






    <script type="text/javascript">
            $("#table tr").click(
            function () {

                $("#table tr").addClass('selected').siblings().removeClass('selected');

                var value = $(this).find('td:first').html();
                var id = $(this).find('td').next().html();

                var codigo = $(this).find('td').next().next().html();
                var marca = $(this).find('td').next().next().next().html();
                var nombre = $(this).find('td').next().next().next().next().html();
                var precioventa = $(this).find('td').next().next().next().next().next().html();
                var stock = $(this).find('td').next().next().next().next().next().next().next().html();

                var myObj = [value, id, codigo, marca, nombre, precioventa];

                if (id == undefined) { }

                else {

                    if (stock < 1) {
                        alert("No hay Stock disponible");
                    }

                    else {
                        location.href = '/Cart/Buy?id=' + id
                    }

                }

                

            });



    </script>

    <script type="text/javascript">
      //    $('input[type="checkbox"]').on('change', function () {
      //      $('input[name="' + this.name + '"]').not(this).prop('checked', false);
      //  });

    </script>

    <script type="text/javascript">

        function Una(e) {

            e.preventDefault;

            var grid = $('#Grida').data('kendoGrid');
            var selectedRows = grid.select();
            var selected = $.map(selectedRows, function (item) {
                var checked = $(item).find('.check-box').attr('checked');
                return {
                    id: $(item).find(':nth-child(1)').text(),
                    descripcion: $(item).find(':nth-child(2)').text(),
                    marca: $(item).find(':nth-child(3)').text(),
                    stock: $(item).find(':nth-child(4)').text(),
                    precio: $(item).find(':nth-child(5)').text(),
                    imagen: $(item).find('img:nth-child(6)'),


                };

            });

            if (selected[0].stock == 1) {
                alert("Esta es la ultima que queda");
            }

            alert(selected[0].imagen);
            document.getElementById('miniatura').src = selected[0].imagen;
            document.getElementById('prueba').innerHTML = selected[0].marca;

            location.href = '/Producto/Lista?id=' + selected[0].id + "&marca=" + selected[0].marca + "&descripcion=" + selected[0].descripcion
                + "&stock=" + selected[0].stock + "&precio=" + selected[0].precio;





        }

    </script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#tabla img').css({
            'cursor': 'pointer',
            'z-index': 100
        }).draggable({ 'revert': true });


        function displayCart(data) {
            var s = '';
            var sum = 0;
            for (var i = 0; i < data.length; i++) {
                sum += parseInt(data[i].Cantidad) * parseFloat(data[i].producto.precioventa);
                $ += '<br> Id:' + data[i].producto.Id;
                $ += '<br> Nombre:' + data[i].producto.Cantidad;

            }

            $ += '<br> Total:' + sum;
            $('#cart').html(s);
        }

        $('#cart').droppable({
            drop: function (event, ui) {
                var productid = $(ui.draggable).siblings('.productId').val();
                $.ajax({
                    type: 'GET',
                    url: 'Cart/Buy' + productid,
                    success: function (data) {
                        displayCart(data);
                    }
                });
            }

        })

    });



</script>