<link rel="stylesheet" type="text/css" href="~/Content/TableStyle.css">

@{
     ViewBag.Title = "Index";
     Layout = "~/Views/Shared/_TableLayout.cshtml";
     var Producto = ViewBag.Lista;
    
}
<br />
<br />
<br />

<table id="tablita">
    <tr>
        
        
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th> Imagen</th>
    </tr>
    @foreach (var p in ViewBag.Lista)
    {
        <tr>
            
            <td hidden>@p.Id</td>
            <td>@p.Codigo</td>
            <td>@p.Descripcion</td>
            <td>@p.PrecioVenta</td>
            <td><img src="@Url.Action("getImg", "Producto", new {id = @p.Id })" alt="Person Image" width="80" height="80" /></td>

           
           
        </tr>
    }

</table>
       





