@model IEnumerable<ProyectoFinal.MVC5.ViewModels.EmpleadoViewModel>

@{
    
    if (Session["UserId"] == "sanjuan")
    {


        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_SanJuanVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_SanJuanAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == "mendoza")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";

        if (Session["UserPerfil"] == "vendedor")
        {
            Layout = "~/Views/Shared/_MendozaVendedor.cshtml";

        }

        if (Session["UserPerfil"] == "Administrador")
        {
            Layout = "~/Views/Shared/_MendozaAdministrador.cshtml";

        }
    }

    if (Session["UserId"] == null && Session["UserPerfil"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    
    
    
    ViewBag.Title = "Index";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Agregar Empleado", "Create", null, new { @class = "k-button" })
</p>


@(Html.Kendo().Grid(Model)
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(p => p.Apellido);
          columns.Bound(p => p.Nombre);
          columns.Bound(p => p.Dni);
          columns.Bound(p => p.Domicilio);
          columns.Bound(p => p.Celular);
          columns.Bound(p => p.Mail);
          columns.Bound(p => p.EmpresaEmpleado.Descripcion).Title("Empresa");

          columns.Template(@<text>
            @Html.ActionLink("Modificar", "Edit", new { id = @item.Id }, new { @class = "k-button" })
            ||
            @Html.ActionLink("Detalles", "Details", new { id = @item.Id }, new { @class = "k-button" })
            ||
            @Html.ActionLink("Eliminar", "Delete", new { id = @item.Id }, new { @class = "k-button" })
        </text>).Title("Acciones");
      })
      .Pageable()
      .Sortable()

)


