@model ProyectoFinal.MVC5.ViewModels.TransaccionViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Transaccion</h2>

<h3 class="alert-danger">¿Esta seguro de eliminar la Transaccion?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioTransaccion.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayName("Tercero")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TerceroTransaccion.Apellido)
        </dd>

        <dt>
            @Html.DisplayName("Factura")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacturaTransaccion.NumeroFactura)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de Transaccion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTransacciones.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Forma de Pago")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPagoTransaccion.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Eliminar"))
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
        </div>
    }
</div>
