@model ProyectoFinal.MVC5.ViewModels.TerceroViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Agregar Tercero</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Apellido, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Apellido)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dni, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dni, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Dni)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Domicilio, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Domicilio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Celular, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Celular, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Celular)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail, new { @class = "k-textbox" })
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoTerceroId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @(Html.Kendo().DropDownList()
                .HtmlAttributes(new { style = "width:400px" })
                .Name("TipoTerceroId")
                .DataTextField("Descripcion")
                .DataValueField("Id")
                .OptionLabel("Seleccione un Tipo de Tercero")
                .DataSource(source =>
                {
                    source.Read(read =>
                       {
                           read.Action("ObtenerTipoTercero", "Tercero");
                       })
                  .ServerFiltering(true);
                })
                 .SelectedIndex(0)
                )



                @Html.ValidationMessageFor(model => model.TipoTerceroId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Guardar"))
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
