@model ProyectoFinal.MVC5.ViewModels.TipoTerceroViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Tipo de Tercero</h2>

<h3 class="alert-danger">¿Esta seguro de eliminar este Tipo de Tercero?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @(Html.Kendo().Button()
                 .Name("imageButton")
                 .Content("Eliminar"))
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "k-button" })
        </div>
    }
</div>
